<div class="container">
	<input type="button" value="Agrega paciente" data-toggle="modal" data-backdrop="static" data-target="#patient-add-modal" ng-click="vm.clearForm();">

	<div class="modal fade" id="patient-add-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="container">
			<form action="../model/query/patient-add.php" method="POST" id="patForm">
				<div class="row">
					<div class="col">
						<h2>Nuevo Paciente</h2>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label>Nombre</label>
						<input type="text" class="form-control" name="patFName" ng-model="vm.patFName" placeholder="Ingrese Nombre">
					</div>
					<div class="col">
						<label>Apellido</label>
						<input type="text" class="form-control" name="patLName" ng-model="vm.patLName" placeholder="Ingrese Apellido">
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<label>RUT</label>
						<div class="container-fluid">
							<div class="row">
								<input type="text" class="form-control col" name="patRut" ng-model="vm.patRut" placeholder="Ingrese RUT"> &nbsp; - &nbsp;
								<input type="text" class="form-control col-2" name="patRutDV" ng-model="vm.patRutDV" placeholder="X">
							</div>
						</div>
					</div>
					<div class="col">
						<label>Edad</label>
						<input type="text" class="form-control" name="patAge" ng-model="vm.patAge" placeholder="Ingrese Edad">
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<label>Sexualidad</label>
						<select class="form-control" ng-model="vm.patSex">
							<option ng-repeat="x in vm.sexList" value="{{x.id}}">{{x.value}}</option>
						</select>
					</div>
					<div class="col">
						<label>Tipo de beneficio</label>
						<select class="form-control" ng-model="vm.patBenId">
							<option ng-repeat="x in vm.benefitList" value="{{x.bet_id}}">{{x.bet_name}}</option>
						</select>
					</div>
				</div>
			</form>
		</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.addPatient();">Enviar</button>
				</div>
			</div>
		</div>
	</div>
</div>